body{
	font-family: sans-serif
}

.gallery h1{
	text-align: center;
	color: black;
	margin: 30px 0 50px; 
}

.gallery{
	margin: 10px 50px;
}

.gallery img{
	width: 300px;
	height: 300px
	padding: 10px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

